/* Add or change any of the CSS that you like. I'm bad at CSS so anything you do will imporve the site I promise! */

@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

#page-title {
  padding: 25px;
  font-size: 30px;
  font-family: "Kiwi Maru", serif;
}
#page-title:hover {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 31px;
  font-family: "Kiwi Maru", serif;
}
header {
  background-color: rgb(252, 220, 220);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 25%;
  height: 100px;
}
/*Style nav bar on left*/
#list {

  background-color: #cfe6ee;
  border-radius: 10px;
  float: left;
  width: 10%;
  min-height: calc(100vh - 100px);
}

/*Style random content from wiki*/
#content {
  
  background-color: #7cd3ed;
  border-radius: 10px;
  float: left;
  width: 90%;
  min-height: calc(100vh - 100px);
}
/*Style footer*/
#page-footer {

  background-color: #68cbf8;
  text-align: center;
  border-radius: 10px;
  height: 100px;
  clear: both;
}
